spring-analysis-maven/src/main/resources/META-INF/wukong.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.wukong.org/schema/wukong"
			targetNamespace="http://www.wukong.org/schema/wukong"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="wukong">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>